<div class="app-content">

   <div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort style="background-color:white">
    <!--style="background-color:#ffd200"-->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef  mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Action</mat-header-cell>
      <mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" matTooltip="Edit!" (click)="editRow(element)">Edit</button>
        <button mat-raised-button color="warn" (click)="deleteRow(element.id)">Delete</button></mat-cell>
    </ng-container>

    <!-- Symbol Column -->


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="2"
                 [pageSizeOptions]="[2, 4, 6]">
  </mat-paginator>
</div>
<br>
<button mat-raised-button color="primary" (click)="showAddForm()">Add</button>

<div style="width:100%;height:70%; border:1px solid red">
 <mat-grid-list cols="3">
   <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Snowshoe Cat</mat-card-title>
        <mat-card-subtitle>Cat Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image width="448px" height="335px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwyL2fWLbUNb3RBLtH1t8Mx5-0iEKTSayN03TGN1fU-h9NbRnY"
        alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Snowshoe is a rare breed of cat originating in the United States of America in the 1960s. Snowshoes were first produced
          in Philadelphia when a Siamese breeder's cat gave birth to three kittens with white feet.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="accent">
       <span >LIKE</span>
    <mat-icon matTooltip="Like">favorite</mat-icon>
  </button>
        <button mat-button color="primary">
   <span>SHARE</span>
     <mat-icon matTooltip="Share">share</mat-icon>
  </button>
      </mat-card-actions>
    </mat-card>
   </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image1"></div>
        <mat-card-title>Snowshoe Cat</mat-card-title>
        <mat-card-subtitle>Cat Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image width="448px" height="335px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtcopx5Gi86y-z_YsXA8u2PcGTUQ6Lgp6uZwq2WN9RYiRSc8Oc"
        alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Snowshoe is a rare breed of cat originating in the United States of America in the 1960s. Snowshoes were first produced
          in Philadelphia when a Siamese breeder's cat gave birth to three kittens with white feet.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent">
       <span>LIKE</span>
    <mat-icon>favorite</mat-icon>
  </button>
        <button mat-raised-button color="primary">
   <span>SHARE</span>
     <mat-icon >share</mat-icon>
  </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
 

  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Snowshoe Cat</mat-card-title>
        <mat-card-subtitle>Cat Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image width="448px" height="335px"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOTsUL2Qb6336BiFqQR75sFKRPzioeROx_QZQSLEr0q2uVYrUs"
        alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Snowshoe is a rare breed of cat originating in the United States of America in the 1960s. Snowshoes were first produced
          in Philadelphia when a Siamese breeder's cat gave birth to three kittens with white feet.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="accent">
       <span >LIKE</span>
    <mat-icon matTooltip="Like">favorite</mat-icon>
  </button>
        <button mat-button color="primary">
   <span>SHARE</span>
     <mat-icon matTooltip="Share">share</mat-icon>
  </button>
      </mat-card-actions>
    </mat-card>
   </mat-grid-tile>
 </mat-grid-list>
</div>