<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-toolbar color="primary">
    <span><mat-icon>mood</mat-icon></span>

    <span> Material in Angular 2!</span>

    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #menu="matMenu" xPosition="before" [overlapTrigger]="false">
  <button mat-menu-item>
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>group</mat-icon>
    <span>Add/Edit Form</span>
  </button>
  </mat-menu>
  </div>
 <app-department-listing></app-department-listing>